body {background-image: url("birthday.jpg");}
body h5 {font-size: 30px;}
body a {font-size:140px;background-color: aquamarine;box-shadow: 0 0 10px #00000070;}
body h1 {font-size: 60px;font-style: oblique;}